@{
    ViewData["Title"] = "About";
}
<h1>AccuLynx Dev Code Challenge of Challenging Coding</h1><br/>

<p>
    This coding challenge is to create a web page that displays a list of recent Stack Overflow questions that have an accepted answer and contain more than 1 answer. It should allow visitors to view all the answers for a selected question in a random order and try to guess which answer was the accepted answer.
</p>

<h4>Stack Overflow API</h4>
<p>
    <a href="https://api.stackexchange.com/docs">https://api.stackexchange.com/docs</a>
</p>

<h4>Requirements</h4>
<ol>
    <li>Display a list of recent questions that have an accepted answer and more than 1 answer</li>
    <li>Select a question to view all the answers for that question in a random order</li>
    <li>Allow visitors to guess which answer they think is the “accepted” answer</li>
    <li>After guessing, display if the user guessed the “accepted” answer</li>
</ol>