@{
    ViewData["Title"] = "Question List";
    ViewData["Instructions"] = "Below are recent Stack Overflow questions that have multiple answers with at least one being accepted. Select a question to guess which answer is the accepted one.";
}

<div class="text-center">
    <h1 class="display-4">TODO!</h1>
</div>
