@model IEnumerable<CodeChallenge.Models.Question>

@{
    ViewData["Title"] = "Question List";
    ViewData["Instructions"] = "Below are recent Stack Overflow questions that have multiple answers with at least one being accepted. Select a question to guess which answer is the accepted one.";
}

<h2>Question List</h2>

<table class="table">
    <thead>
        <tr>
            <th class="dateColumn">
                Creation Date
            </th>
            <th>
                Title
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var question in Model)
        {
            <tr class="question_row" onclick="location.href='@Url.Action("Question", "Home", new { id = question.Id })'">
                @* Putting the Id in as a tooltip since users don't need to care about it but it might be handy to know for this challenge *@
                <td title=@Html.DisplayFor(q => question.Id)>  
                    @Html.DisplayFor(q => question.CreationDateLocal)
                </td>
                <td>
                    @Html.Raw(question.Title)
                </td>
            </tr>
        }
    </tbody>
</table>