@{
    ViewData["Title"] = "Question";
    ViewData["Instructions"] = "These are the answers (in a random order) for your selected question. Try and guess which one is the Accepted answer on Stack Overflow.";
}

<h1>TODO!</h1>